!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title RHoK Information

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body
    article
      section
        h1 Random Hacks of Kindness
        h3 Information Meeting

      section
        iframe(width='560', height='315', src='//www.youtube.com/embed/nEICpkh_bP0', frameborder='0', allowfullscreen='allowfullscreen')

      section
        h2 What is RHoK?
        p Technologists and domain experts building solutions to real world problems.
        img(src='images/action_shot.png', width="80%")

      section
        h2 Organisations that are Involved
        img(src='images/partner_logos.png', width="80%")

      section
        h2 What can a problem owner expect to accomplish?
        p A good start on an application with a group of developers and analysts
      section
        h2 What will a problem owner do?
        ul
          li Be passionate about their problem
          li Engaged for questions and answers all the way through to deployment
          li Scope out your domain space
          li Be prepared to help lead your team and answer questions

      section
        h2 The weekend format
        dl
          dd Day 1
          dt
            ul
              li Problems owners pitch their problems
              li Setup and form groups "vote with your feet"
              li Start developing by 11
          dd Day 2
          dt
            ul
              li Work on the project til 15:30
              li Present your work to other teams
      section
        h2 What happens after the hack weekend?
        img(src='images/calendar.png', width='80%')

      section
        h2 Bagong Barrio Education Fund Project
      section
        h2 BBEF Project
        img(src='images/bbef_screenshot_01.png', width="80%")
      section
        h2 BBEF Project
        img(src='images/bbef_screenshot_02.png', width="80%")

      section
        h2 Universal Emergency Response Management Project
      section
        h2 Universal Emergency Response Management Project
        img(src='images/emergency_response_01.png', width="80%")
      section
        h2 Universal Emergency Response Management Project
        img(src='images/emergency_response_02.png', width="80%")

      section
        h2 Warrandyte Fire Dashboard Project
      section
        h2 Warrandyte Fire Dashboard Project
        img(src='images/warrandyte_01.png', width="80%")
      section
        h2 Warrandyte Fire Dashboard Project
        img(src='images/warrandyte_02.png', width="80%")

      section
        h2 Resilience Project
      section
        h2 Resilience Project
        img(src='images/resilience_01.png', width="80%")

      section
        h2 What's next?
        dl
          dd Nov 12
          dt Sydney Information Night - DiUS Offices
          dd Dec 7-8
          dt Global Hack weekend - Ninefold Offices


      section
        h2 To find out more
        p http://meetup.com/rhok-sydney/
        p http://rhoksydney.org
        p https://www.eventbrite.com/event/9022156513

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
